	<%= form_for @recipe do |f| %>
	
	<% if recipe.errors.any? %>
		<div id="error_explanation">
			<h4><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h4>
				<ul>
					<% recipe.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
	<% end %>

	<div class="field">
		<%= f.label :name, "Recipe Name" %>
		<%= f.text_field :name %>
	</div>
	
	<div class= "field">
		<%= f.label :description, "Description" %>
		<%= f.text_area :description %>
	</div>
	
	<%= f.file_field :image %> <br>
	<fieldset id="recipe-ingredients">
	<ol>
	<h3>Ingredients</h3>
		<%= f.fields_for(:recipe_ingredients) do |ri| %>
	  <%= render 'recipe_ingredient_fields', f: ri %>
	  <% end %>
	  
	 <%= link_to_add_association 'add ingredient', f, :recipe_ingredients,
    'data-association-insertion-node' => "#recipe-ingredients ol",
    'data-association-insertion-method' => "append",
    :wrap_object => Proc.new {|ri| ri.build_ingredient; ri } %>
    </ol>
    </fieldset>
    
	<h3>Directions</h3>
		<%= f.fields_for(:directions) do |direction| %>
	  <%= render 'direction_fields', f: direction %>
	  <% end %>
	  <div>
    <%= link_to_add_association 'Add Step', f, :directions %>
    </div>
	<br />
	
	<%= f.hidden_field(:user_id, value: current_user.id) %>

	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>