


<div class="banner home-banner">
  <div class="banner-content">
    <h1>SAVORY</h1>
    <p><span id="intro"></span></p>
    <%= link_to "Add Your Own Recipe", new_recipe_path, class: "btn btn-primary btn-lg my-btn"%>
  </div>
</div>
 <h2 class="text-center title">Latest Recipes</h2>
  <%= render "latest_recipes", recipe: @recipe %>
    <br />
<div class="container">
  <h2 class="text-center title">Your Library of Recipes</h2>
  <div class="row">
    <% @recipes.each do |recipe| %>
    <div class="col-xs-12 col-sm-4">
      <div data-aos="zoom-out">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= recipe.image if recipe.image.present? %>');">
         <div class="card-description">
          <h2><%= recipe.name %></h2>
          <p>
            <%= recipe.description %>
          </p>
         
        </div>
        <%= link_to '', recipe_path(recipe), class: "card-link" %>
        </div>
      </div>
  </div>
  <% end %>

</div>
</div>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>