<h1>Latest Recipes</h1>
    <% @recent_recipes.each do |recipe| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="recipe">
          <%= image_tag recipe.image.url(:medium), class: "img-responsive" %>
          <div class="caption">
            <h2><%= link_to recipe.name, recipe %></h2>
            <p><%= recipe.description %>.</p>
          </div>
        </div>
      </div>
      <% end %>
     
    <br />
    
<h1 id="allrecipes">Recipes</h1>
<% @recipes.each_slice(3) do |recipes| %>
  <div class="row">
    <% recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="recipe">
          <div class="image_wrapper">
            <%= link_to recipe do %>
              <%= image_tag recipe.image.url(:medium), class: "img-responsive" %>
            <% end %>
          </div>
          <h2>
            <%= link_to recipe.name, recipe %>
          </h2>
            <p><%= recipe.description %>
            </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
