<h2> New Recipe </h2>
<%= form_for @recipe do |f| %>
<label> Name:</label> <br>
<%= f.text_field :name %> <br>
<label> Description:</label><br>
<%= f.text_area :description %> <br>
<%= f.file_field :image %>
<br>
<h3>Ingredients</h3>

    <%= f.fields_for :ingredients do |i| %>
      <%= i.label :quantity %>
      <%= i.text_field :quantity %>

    
        <%= i.label :name %>
        <%= i.text_field :name %><br>
      <% end %>
 
    
     <h3>Directions</h3>

    <%= f.fields_for :directions do |d| %>
      <%= d.label :step %>
      <%= d.text_field :step %>
    <% end %>
    <br>
<%= f.submit %>
<% end %>
