<div class="banner recipe-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
	url('<%=  @recipe.image.url %>')">
	<div class="banner-content">
  	<h1><%= @recipe.name %></h1>
	</div>
</div>

	<div class="container">
  	<div class="row">
     <div class="details-recipe">
      <div class="col-md-4">
        	<h4>Description</h4>
        	<p><%= @recipe.description %></p>
        <div class="chefName"><strong>Created by: Chef <%= link_to @recipe.user.username, user_recipes_path(@recipe.user) %></strong></div> 
      </div>
    
      <div class="col-md-4">
        <h4>Ingredients</h4>
         <% @recipe.recipe_ingredients.each do |ri| %>
          <ul>
          	<li class="recipeIngredients"><%= ri.quantity %> of <%= ri.ingredient.name %> </li> 
          </ul>
        <% end %> 
      </div>
      
      <div class="col-md-4">
        <h4>Directions:</h4>
        	<% @recipe.directions.each do |d| %>
          <ul>
         		<li class="recipeSteps"><%= d.step %></li>
          <% end %>
         </ul>
      </div>
    </div>
  </div>
</div>
<br>
	
 	<button type="button" class="btn btn-default">
    <%= link_to 'Back', recipes_path %>
   </button>
	<% if @recipe.user == current_user %>
   <button type="button" class="btn btn-default">
    <%= link_to 'Edit',  edit_recipe_path %>
    </button>
     <button type="button" class="btn btn-default">
    	<%= link_to 'Delete', recipe_path, method: :delete, data:{confirm: "Are you sure?"} %>
     </button>
	<% end %>
	 <%= render "votes", recipe: @recipe %>
 <br />
 
 <div class="row">
  <div class="well-white">
    <h2><%= @recipe.comments.count %> Comment(s)</h2>
    	<hr>
    <div id="comment">
      <% if !@recipe.comments.empty? %>
        <% @recipe.comments.each do |comment| %>
        <blockquote>
         <p class="comment_by">
          <%= comment.user.username %>
           commented <%= time_ago_in_words(comment.created_at) %> ago:
            <%= comment.body %>
             <span ><%= link_to '',recipe_comment_path(@recipe, comment), method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %> </span>
          </p>
        </blockquote>
        <% end %>
      <% end %>
    </div>

   <% if current_user %>
     <br />
      <h4>Add a comment:</h4>
        <%= form_for @comment, url: recipe_comments_path(@recipe, @comment)  do |f| %>
          <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
           <%= f.text_area :body, class: 'commentBox form-control' %> <br />
           <%= f.submit "Comment", class: "btn btn-primary" %> 
        <% end %><br>
    <% else %>
      <p>Please log in order to add a comment.</p>
    <% end %>
    
 

