<%= image_tag @recipe.image.url(:medium) %>
<h1><%= @recipe.name %></h1>
<p> <%= @recipe.description %></p>
<strong>Created by: Chef <%= link_to @recipe.user.username, user_recipes_path(@recipe.user) %></strong>
<div class="btn-group pull-right">
  <%= link_to like_recipe_path(@recipe), method: :put, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= @recipe.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_recipe_path(@recipe), method: :put, class: "btn btn-default" do %>
	<span class="glyphicon glyphicon-chevron-down"></span>
    Downvote
    <%= @recipe.get_downvotes.size %>
  <% end %>
</div>
<br>
<strong>Ingredients:</strong>
 <% @recipe.recipe_ingredients.each do |ri| %>
<li><%= ri.quantity %> of <%= ri.ingredient.name %> </li> 
 <%end %> 
  
  <br>
  <strong>Directions:</strong>
  <% @recipe.directions.each do |d| %>
   
    <li><%= d.step %></li>

  <% end %>
  <br>
 <button type="button" class="btn btn-default">
    <%= link_to 'Back', recipes_path %>
</button>
<% if @recipe.user == current_user %>
    <button type="button" class="btn btn-default">
    <%= link_to 'Edit',  edit_recipe_path %>
    </button>
     <button type="button" class="btn btn-default">
    <%= link_to 'Delete', recipe_path, method: :delete, data:{confirm: "Are you sure?"} %>
  </button>
<% end %>

<h3><%= @recipe.comments.count %> Comment(s)</h3>
<%= @recipe.comments.each do |comment|%>
	<div class="comments_wrapper clearfix">
		<div class="pull-left">
			<p class="lead"><%= comment.body %></p>
			<p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.username %></small></p>
		</div>
</div>
<% end %>
 <h3> Add a Comment:</h3>
  <%= form_for @comment, url: new_recipe_comment_path(@recipe, @comment)  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>


