<%= image_tag @recipe.image.url(:medium), class: "img-responsive" %>
<h1><%= @recipe.name %></h1>
<p> <%= @recipe.description %></p>
<strong>Created by: Chef <%= link_to @recipe.user.username, user_recipes_path(@recipe.user) %></strong>
<div class="btn-group pull-right">
  <%= link_to like_recipe_path(@recipe), method: :put, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= @recipe.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_recipe_path(@recipe), method: :put, class: "btn btn-default" do %>
	<span class="glyphicon glyphicon-chevron-down"></span>
    Downvote
    <%= @recipe.get_downvotes.size %>
  <% end %>
</div>
<br>
<strong>Ingredients:</strong>
 <% @recipe.recipe_ingredients.each do |ri| %>
<li><%= ri.quantity %> of <%= ri.ingredient.name %> </li> 
 <%end %> 
  
  <br>
  <strong>Directions:</strong>
  <% @recipe.directions.each do |d| %>
   
    <li><%= d.step %></li>

  <% end %>
  <br>
 <button type="button" class="btn btn-default">
    <%= link_to 'Back', recipes_path %>
</button>
<% if @recipe.user == current_user %>
    <button type="button" class="btn btn-default">
    <%= link_to 'Edit',  edit_recipe_path %>
    </button>
     <button type="button" class="btn btn-default">
    <%= link_to 'Delete', recipe_path, method: :delete, data:{confirm: "Are you sure?"} %>
  </button>
<% end %>
<br />
<div class="row">
  <div class="white-well">
    <h3><%= @recipe.comments.count %> Comment(s)</h3>
    <% if !@recipe.comments.empty? %>
      <% @recipe.comments.each do |comment| %>
      
        	<p><%= comment.body %></p>
			    <p><small>Submitted <strong><%= comment.created_at %> ago</strong> by
         <% if comment.user.nil? %>
           Anonymous
         <% else %>
          <%= comment.user.username %>
          </small></p>
             <% end %>
        <% end %>
    <% end %>
    <%= form_for(@comment) do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if user_signed_in? %>
      <div class="form-group">
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :recipe_id %>
        <h4><%= f.label :Comment %></h4>
        <%= f.text_area :body, class: 'form-control', required: true %>
      </div>
     
      <%= f.submit "Add Comment", class: 'btn btn-primary' %>
    <% end %>
    <% end %>

