<%= image_tag @recipe.image.url(:medium) %>
<h1><%= @recipe.name %></h1>
<p> <%= @recipe.description %></p>
<strong>Created by: Chef <%= @recipe.user.username %></strong>
<br>
<strong>Ingredients:</strong>
 <% @recipe.recipe_ingredients.each do |ri| %>
<li><%= ri.quantity %> of <%= ri.ingredient.name %> </li> 
 <%end %> 
  
  <br>
  <strong>Directions:</strong>
  <% @recipe.directions.each do |d| %>
    <li><%= d.step %></li>
  <% end %>
  <br>
 <button type="button" class="btn btn-default">
    <%= link_to 'Back', recipes_path %>
</button>
<% if @recipe.user == current_user %>
    <button type="button" class="btn btn-default">
    <%= link_to 'Edit',  edit_recipe_path %>
    </button>
     <button type="button" class="btn btn-default">
    <%= link_to 'Delete', recipe_path, method: :delete, data:{confirm: "Are you sure?"} %>
  </button>
<% end %>
