	<div class="container">    
      <div class="jumbotron">
         <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
               <%= image_tag @user.avatar.url (:medium) %>
                </div>
                   <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                     <div class="container" style="border-bottom:1px solid black">
                        <h2> <%= @user.username.capitalize %></h2>
                        </div>
                            <hr>
                          <ul class="container details">
                            <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p></li>
                            <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com</p></li>
                            <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Hyderabad</p></li>
                            <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.example.com</p></a>
                          </ul>
                      </div>
                  </div>
                </div>
 

 
 
 <h1>
  <%= @user.username.capitalize %>
  <%= image_tag @user.avatar.url (:medium) %>
  <div class="user-editor">
    
      <%= link_to "Edit Your Profile", edit_user_path(@user), class: "btn btn-sm btn-primary" %>
      <%= link_to "Delete Your Account", user_path(@user), method: :delete, class: "btn btn-sm btn-default" %>
      <%= link_to "Add Recipe", new_user_recipe_path(@user), class: "btn btn-sm btn-primary" %>
  
  </div>
</h1>

<h2>Recipes</h2>
<div class="recipes">
  <ul>
    <% @recipes.each do |recipe| %>
      <%=  link_to recipe.name, user_recipe_path(recipe), class:"recipe-name" %>
      <div class="recipe-editor">
       
          <%= link_to "Edit Recipe", edit_user_recipe_path(recipe), class: "btn btn-sm btn-primary" %>
          <%= link_to "Delete Recipe", recipe_path(recipe), method: :delete, class: "btn btn-sm btn-default" %>
        <% end %>
      </div>
   
  </ul>
</div>


  


  