	<div class="container">    
      <div class="jumbotron">
         <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
               <%= image_tag @user.avatar.url (:medium) %>
                </div>
                   <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                     <div class="container" style="border-bottom:1px solid black">
                        <h2> <%= @user.username.capitalize %></h2>
                        </div>
                            <hr>
                             <p><%= @user.bio %></p>
                          <ul class="container details">
                            <li><p><span class="glyphicon glyphicon-cutlery" style="width:50px;"></span><%= @user.recipes.count %> Recipes Added</p></li>
                            <span><%= link_to "Edit Your Profile",  edit_user_registration_path(@user), class: "btn btn-sm btn-primary" %></span>
                            <span><%= link_to "Add Recipe", new_user_recipe_path(@user), class: "btn btn-sm btn-primary" %></span>
                          </ul>
                         </div>
                      </div>
                    </div>
                </div>
 




  


  